.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    height:150px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #d3d3d3;
    background-color: rgb(255, 255, 255);
    margin:5px;
    text-align: center;
}

@media (min-width:1024px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        height:300px;
        margin:10px;
    }
}