.container {
  /* Keeping this for now */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height:10vh;
}

.content {
  height:80vh;
}

.content section {
  height: 25vh;
  padding: 0 3%;
}

.footer_nav {
  display: unset;
  height: 10vh;
}

.footer {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: left;
  }

  .content {
    height: 100vh;
  }

  .footer {
    display: unset;
  }

  .footer_nav {
    display: none;
  }
}