.container {
  height: 100vh;
  /* Keeping this for now */
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  flex: 1 0 auto;
}

.content section {
  height: 25vh;
  padding: 0 3%;
}

.footer {
  margin-top: auto;
}